DB_HOST = localhost
DB_PORT = 3306
DB_USER = admin
DB_PASSWORD = admin123
DB_NAME = db_videobelajar

JWT_SECRET_KEY = your-secret-key

MAIL_USER = videobelajar@gmail.com
MAIL_PASS = "ndha pjfy mkvh vcks"